## Import all needed libraries

In [72]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt

In [73]:
data=pd.read_csv('../data/train.csv')
data

,id,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,...,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a,DC201
0,1,11,2,16.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,2.0,1,12.0,60.0,Layak Minum
1,2,11,2,31.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,1.0,1.0,2,31.0,70.0,Layak Minum
2,3,11,2,12.0,1.0,0.0,1.0,1.0,1.0,1.0,...,0.0,1.0,0.0,1.0,1.0,0.0,4,11.0,75.0,Layak Minum
3,6,11,2,12.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,2.0,NaN,1.0,0.0,1.0,1,11.0,85.0,Layak Minum
4,7,11,2,12.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,2,11.0,65.0,Layak Minum
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35968,47958,94,1,17.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,NaN,0.0,0.0,0.0,1,21.0,9.0,Layak Minum
35969,47959,94,1,12.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2,11.0,12.0,Layak Minum
35970,47961,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1,11.0,48.0,Layak Minum
35971,47962,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2,11.0,39.0,Layak Minum
35972,47963,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,3,11.0,40.0,Layak Minum

## Explore data

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35973 entries, 0 to 35972
Data columns (total 40 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      35973 non-null  int64
 1   DC024   35973 non-null  int64
 2   DC025   35973 non-null  int64
 3   DC205   35962 non-null  float64
 4   DC206   35952 non-null  float64
 5   DC207   35929 non-null  float64
 6   DC208   35960 non-null  float64
 7   DC209   35955 non-null  float64
 8   DC210   35932 non-null  float64
 9   DC211   35949 non-null  float64
 10  DC212   35949 non-null  float64
 11  DC213   35896 non-null  float64
 12  DC214   35964 non-null  float64
 13  DC215   35959 non-null  float64
 14  DC216   35934 non-null  float64
 15  DC217   35973 non-null  int64
 16  DC219   35973 non-null  int64
 17  DC220   35969 non-null  float64
 18  DC226   35967 non-null  float64
 19  DC230a  35962 non-null  float64
 20  DC230b  32964 non-null  float64
 21  DC232   32949 non-null  float64
 22  DC232b  32949 non-null  float64
 23  DC235   25527 non-null  float64
 24  DC237   35952 non-null  float64
 25  DC237a  35936 non-null  float64
 26  DC237b  35936 non-null  float64
 27  DC237c  35936 non-null  float64
 28  DC237d  35936 non-null  float64
 29  DC237e  35936 non-null  float64
 30  DC237f  35936 non-null  float64
 31  DC241   35361 non-null  float64
 32  DC242   30599 non-null  float64
 33  DC244   35969 non-null  float64
 34  DC246   35964 non-null  float64
 35  DC252   35959 non-null  float64
 36  DC270a  35973 non-null  int64
 37  DC109   35962 non-null  float64
 38  DC142a  35921 non-null  float64
 39  DC201   35970 non-null  object
dtypes: float64(33), int64(6), object(1)
memory usage: 11.0+ MB

In [7]:
data['DC201']=data['DC201'].apply(lambda x: 1 if x=='Layak Minum' else 0)
data

,id,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,...,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a,DC201
0,1,11,2,16.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,2.0,1,12.0,60.0,1
1,2,11,2,31.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,1.0,1.0,2,31.0,70.0,1
2,3,11,2,12.0,1.0,0.0,1.0,1.0,1.0,1.0,...,0.0,1.0,0.0,1.0,1.0,0.0,4,11.0,75.0,1
3,6,11,2,12.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,2.0,NaN,1.0,0.0,1.0,1,11.0,85.0,1
4,7,11,2,12.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,2,11.0,65.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35968,47958,94,1,17.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,NaN,0.0,0.0,0.0,1,21.0,9.0,1
35969,47959,94,1,12.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2,11.0,12.0,1
35970,47961,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1,11.0,48.0,1
35971,47962,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2,11.0,39.0,1
35972,47963,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,3,11.0,40.0,1

### Calculate the rasio of the target label

In [5]:
data['DC201'].value_counts()

DC201
1    32398
0     3575
Name: count, dtype: int64

### From this rasio, we know that the data is imbalance. So we need to balance the data for better learning experience. Before that, data must be
- Filled the null value
- Do some transformation in some attribute

### Use null notebook for complete filling null value

### Fill the null value in each attribute

In [6]:
def fillData(data:pd.Series,method:str):
    if method=='mean':
        mean=data.mean()
        data=data.fillna(mean)
    elif method=='median':
        median=data.median()
        data.fillna(median)
    else:
        mode=data.mode()[0]
        data.fillna(mode,inplace=True)
    return data

### Get all null value in attribute

In [7]:
# Check Nan/Null Value and then store it in list of tuple
null=data.isnull().sum().to_dict()
null_column=[(key,value) for key,value in null.items() if value>0]
null_column

[('DC205', 11),
 ('DC206', 21),
 ('DC207', 44),
 ('DC208', 13),
 ('DC209', 18),
 ('DC210', 41),
 ('DC211', 24),
 ('DC212', 24),
 ('DC213', 77),
 ('DC214', 9),
 ('DC215', 14),
 ('DC216', 39),
 ('DC220', 4),
 ('DC226', 6),
 ('DC230a', 11),
 ('DC230b', 3009),
 ('DC232', 3024),
 ('DC232b', 3024),
 ('DC235', 10446),
 ('DC237', 21),
 ('DC237a', 37),
 ('DC237b', 37),
 ('DC237c', 37),
 ('DC237d', 37),
 ('DC237e', 37),
 ('DC237f', 37),
 ('DC241', 612),
 ('DC242', 5374),
 ('DC244', 4),
 ('DC246', 9),
 ('DC252', 14),
 ('DC109', 11),
 ('DC142a', 52)]

In [9]:
data['DC205'].value_counts()

DC205
12.0    25224
31.0     3576
17.0     3067
16.0     2815
21.0     1262
96.0       18
Name: count, dtype: int64

### Test sample of filling null atribute

In [8]:
import random
random.seed(42)

# Get random index
rand_idx=random.randint(0,len(null_column))

# Get column and jumlah null
column,null=null_column[rand_idx]
method='mode'
# apply function to null column
temp_data=fillData(data=data[column],method=method)
print(f'Null column {column} before filling : {null}\nNull column {column} after filling  {method} : {temp_data.isnull().sum()}\n')

Null column DC212 before filling : 24
Null column DC212 after filling  mode : 0

### Apply function to all attribute

In [42]:
# Iterasi column yang memiliki null value
method='mode'
for item in null_column:
    column,null=item
    # apply function to null column
    data[column]=fillData(data=data[column],method=method)
    print(f'Null column {column} before filling : {null}\nNull column {column} after filling  {method} : {data[column].isnull().sum()}\n')

Null column DC205 before filling : 11
Null column DC205 after filling  mode : 0

Null column DC206 before filling : 21
Null column DC206 after filling  mode : 0

Null column DC207 before filling : 44
Null column DC207 after filling  mode : 0

Null column DC208 before filling : 13
Null column DC208 after filling  mode : 0

Null column DC209 before filling : 18
Null column DC209 after filling  mode : 0

Null column DC210 before filling : 41
Null column DC210 after filling  mode : 0

Null column DC211 before filling : 24
Null column DC211 after filling  mode : 0

Null column DC212 before filling : 24
Null column DC212 after filling  mode : 0

Null column DC213 before filling : 77
Null column DC213 after filling  mode : 0

Null column DC214 before filling : 9
Null column DC214 after filling  mode : 0

Null column DC215 before filling : 14
Null column DC215 after filling  mode : 0

Null column DC216 before filling : 39
Null column DC216 after filling  mode : 0

Null column DC220 before filling : 4
Null column DC220 after filling  mode : 0

Null column DC226 before filling : 6
Null column DC226 after filling  mode : 0

Null column DC230a before filling : 11
Null column DC230a after filling  mode : 0

Null column DC230b before filling : 3009
Null column DC230b after filling  mode : 0

Null column DC232 before filling : 3024
Null column DC232 after filling  mode : 0

Null column DC232b before filling : 3024
Null column DC232b after filling  mode : 0

Null column DC235 before filling : 10446
Null column DC235 after filling  mode : 0

Null column DC237 before filling : 21
Null column DC237 after filling  mode : 0

Null column DC237a before filling : 37
Null column DC237a after filling  mode : 0

Null column DC237b before filling : 37
Null column DC237b after filling  mode : 0

Null column DC237c before filling : 37
Null column DC237c after filling  mode : 0

Null column DC237d before filling : 37
Null column DC237d after filling  mode : 0

Null column DC237e before filling : 37
Null column DC237e after filling  mode : 0

Null column DC237f before filling : 37
Null column DC237f after filling  mode : 0

Null column DC241 before filling : 612
Null column DC241 after filling  mode : 0

Null column DC242 before filling : 5374
Null column DC242 after filling  mode : 0

Null column DC244 before filling : 4
Null column DC244 after filling  mode : 0

Null column DC246 before filling : 9
Null column DC246 after filling  mode : 0

Null column DC252 before filling : 14
Null column DC252 after filling  mode : 0

Null column DC109 before filling : 11
Null column DC109 after filling  mode : 0

Null column DC142a before filling : 52
Null column DC142a after filling  mode : 0

### Check again all of the attribute

In [43]:
data.isnull().sum()

id        0
DC024     0
DC025     0
DC205     0
DC206     0
DC207     0
DC208     0
DC209     0
DC210     0
DC211     0
DC212     0
DC213     0
DC214     0
DC215     0
DC216     0
DC217     0
DC219     0
DC220     0
DC226     0
DC230a    0
DC230b    0
DC232     0
DC232b    0
DC235     0
DC237     0
DC237a    0
DC237b    0
DC237c    0
DC237d    0
DC237e    0
DC237f    0
DC241     0
DC242     0
DC244     0
DC246     0
DC252     0
DC270a    0
DC109     0
DC142a    0
DC201     0
dtype: int64

## Load Data from Null processing

In [74]:
data=pd.read_csv('data_null.csv')
data

,id,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,...,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a,DC201
0,1,11,2,16.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,2.0,1,12.0,60.0,1
1,2,11,2,31.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,1.0,1.0,2,31.0,70.0,1
2,3,11,2,12.0,1.0,0.0,1.0,1.0,1.0,1.0,...,0.0,1.0,0.0,1.0,1.0,0.0,4,11.0,75.0,1
3,6,11,2,12.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,2.0,1.0,1.0,0.0,1.0,1,11.0,85.0,1
4,7,11,2,12.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,2,11.0,65.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35965,47958,94,1,17.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,1.0,0.0,0.0,0.0,1,21.0,9.0,1
35966,47959,94,1,12.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2,11.0,12.0,1
35967,47961,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1,11.0,48.0,1
35968,47962,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2,11.0,39.0,1
35969,47963,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,3,11.0,40.0,1

### Transform data into a float

In [75]:
data=data.astype(float)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35970 entries, 0 to 35969
Data columns (total 40 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      35970 non-null  float64
 1   DC024   35970 non-null  float64
 2   DC025   35970 non-null  float64
 3   DC205   35970 non-null  float64
 4   DC206   35970 non-null  float64
 5   DC207   35970 non-null  float64
 6   DC208   35970 non-null  float64
 7   DC209   35970 non-null  float64
 8   DC210   35970 non-null  float64
 9   DC211   35970 non-null  float64
 10  DC212   35970 non-null  float64
 11  DC213   35970 non-null  float64
 12  DC214   35970 non-null  float64
 13  DC215   35970 non-null  float64
 14  DC216   35970 non-null  float64
 15  DC217   35970 non-null  float64
 16  DC219   35970 non-null  float64
 17  DC220   35970 non-null  float64
 18  DC226   35970 non-null  float64
 19  DC230a  35970 non-null  float64
 20  DC230b  35970 non-null  float64
 21  DC232   35970 non-null  float64
 22  DC232b  35970 non-null  float64
 23  DC235   35970 non-null  float64
 24  DC237   35970 non-null  float64
 25  DC237a  35970 non-null  float64
 26  DC237b  35970 non-null  float64
 27  DC237c  35970 non-null  float64
 28  DC237d  35970 non-null  float64
 29  DC237e  35970 non-null  float64
 30  DC237f  35970 non-null  float64
 31  DC241   35970 non-null  float64
 32  DC242   35970 non-null  float64
 33  DC244   35970 non-null  float64
 34  DC246   35970 non-null  float64
 35  DC252   35970 non-null  float64
 36  DC270a  35970 non-null  float64
 37  DC109   35970 non-null  float64
 38  DC142a  35970 non-null  float64
 39  DC201   35970 non-null  float64
dtypes: float64(40)
memory usage: 11.0 MB

In [76]:
# Drop id from the data
data=data.drop('id',axis=1)
data

,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,DC212,...,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a,DC201
0,11.0,2.0,16.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,2.0,1.0,12.0,60.0,1.0
1,11.0,2.0,31.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,1.0,1.0,2.0,31.0,70.0,1.0
2,11.0,2.0,12.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,...,0.0,1.0,0.0,1.0,1.0,0.0,4.0,11.0,75.0,1.0
3,11.0,2.0,12.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,2.0,1.0,1.0,0.0,1.0,1.0,11.0,85.0,1.0
4,11.0,2.0,12.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,2.0,11.0,65.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35965,94.0,1.0,17.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,1.0,0.0,0.0,0.0,1.0,21.0,9.0,1.0
35966,94.0,1.0,12.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2.0,11.0,12.0,1.0
35967,94.0,1.0,12.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1.0,11.0,48.0,1.0
35968,94.0,1.0,12.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2.0,11.0,39.0,1.0
35969,94.0,1.0,12.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,3.0,11.0,40.0,1.0

### The target data are balanced. The next step is finding the relevant feature with some technique:
- Correlation
- Feature Importance (XGBOOST)
- PCA (Principal Component Analysis)

In [77]:
import xgboost as xgb
def selectAttribute(data:pd.DataFrame,method:str,threshold:float=0.0):
    if method=='xgb':
        X=data.drop('DC201',axis=1)
        y=data['DC201']
        # Buat instance model XGBoost
        model = xgb.XGBClassifier()
        # Latih model dengan data
        model.fit(X, y) 
        # Dapatkan skor pentingnya fitur
        importance = model.feature_importances_
        column=data.columns[:-1]
        results={}
        i=0
        for col in column:
            results[col]=importance[i]
            i+=1
        return results
    
    else :
        #Correlation with output variable
        corr=data.corr()
        cor_target = corr["DC201"]
        #  Selecting highly correlated features
        relevant_features = cor_target[cor_target>0]
        selected=relevant_features.keys()
        print(relevant_features)
        return selected

In [78]:
results=selectAttribute(data=data,method='xgb',threshold=0)
# Sort the dictionary by value
results = dict(sorted(results.items(), key=lambda x: x[1],reverse=True))
results

{'DC025': 0.1387459,
 'DC237': 0.11259107,
 'DC235': 0.0745234,
 'DC270a': 0.06471521,
 'DC237a': 0.059288822,
 'DC237b': 0.048394345,
 'DC205': 0.045822416,
 'DC226': 0.03770649,
 'DC024': 0.02608641,
 'DC109': 0.023338195,
 'DC244': 0.020644404,
 'DC206': 0.01934285,
 'DC237f': 0.018093377,
 'DC237c': 0.016177299,
 'DC246': 0.015912494,
 'DC214': 0.015386973,
 'DC211': 0.015164677,
 'DC241': 0.014776103,
 'DC232': 0.014653637,
 'DC232b': 0.014487351,
 'DC215': 0.01419653,
 'DC242': 0.01334007,
 'DC230a': 0.013294262,
 'DC213': 0.012868506,
 'DC216': 0.012362679,
 'DC207': 0.012205169,
 'DC217': 0.012202922,
 'DC210': 0.01203829,
 'DC208': 0.011862988,
 'DC252': 0.011589433,
 'DC209': 0.011551365,
 'DC142a': 0.011314523,
 'DC220': 0.011289035,
 'DC237d': 0.0111880945,
 'DC230b': 0.010921285,
 'DC219': 0.010255541,
 'DC212': 0.007959853,
 'DC237e': 0.0037080024}

### Do oversampling to cover the unbalance target data

In [79]:
from imblearn.over_sampling import SMOTE

oversampling=SMOTE(sampling_strategy='auto',random_state=42)

X,y=oversampling.fit_resample(data.drop('DC201',axis=1),data['DC201'])
data=X
data['DC201']=y
data

,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,DC212,...,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a,DC201
0,11.000000,2.000000,16.000000,1.000000,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,2.000000,1.000000,12.000000,60.000000,1.0
1,11.000000,2.000000,31.000000,1.000000,0.0,1.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,2.000000,31.000000,70.000000,1.0
2,11.000000,2.000000,12.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,0.000000,...,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,4.000000,11.000000,75.000000,1.0
3,11.000000,2.000000,12.000000,1.000000,0.0,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,2.000000,1.000000,1.000000,0.000000,1.000000,1.000000,11.000000,85.000000,1.0
4,11.000000,2.000000,12.000000,1.000000,0.0,1.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,2.000000,11.000000,65.000000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64791,74.802885,1.399038,12.000000,1.000000,0.0,1.000000,1.000000,0.000000,1.000000,0.600962,...,0.000000,1.000000,0.399038,1.000000,1.000000,2.403847,3.600962,11.000000,148.413465,0.0
64792,61.000000,2.000000,96.000000,0.913505,0.0,0.086495,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,1.000000,0.086495,0.086495,1.259486,1.000000,96.000000,32.259486,0.0
64793,61.262918,2.000000,13.051673,1.000000,0.0,1.000000,0.000000,0.000000,1.000000,0.000000,...,0.262918,1.262918,1.000000,1.000000,1.000000,1.000000,2.000000,11.262918,80.211245,0.0
64794,14.052641,1.508774,16.000000,1.000000,0.0,1.000000,0.508774,0.508774,1.000000,0.000000,...,0.000000,1.508774,1.000000,1.000000,0.508774,1.982453,2.526321,12.000000,84.000000,0.0
64795,33.835003,2.000000,21.000000,1.000000,0.0,0.417501,0.000000,0.417501,0.417501,0.000000,...,0.000000,1.582499,1.000000,0.000000,1.000000,2.747496,1.835003,41.000000,171.649972,0.0

In [80]:
data['DC201'].value_counts()

DC201
1.0    32398
0.0    32398
Name: count, dtype: int64

### Search relevant feature using XGBoost

## Save the data

In [81]:
data

,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,DC212,...,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a,DC201
0,11.000000,2.000000,16.000000,1.000000,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,2.000000,1.000000,12.000000,60.000000,1.0
1,11.000000,2.000000,31.000000,1.000000,0.0,1.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,2.000000,31.000000,70.000000,1.0
2,11.000000,2.000000,12.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,0.000000,...,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,4.000000,11.000000,75.000000,1.0
3,11.000000,2.000000,12.000000,1.000000,0.0,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,2.000000,1.000000,1.000000,0.000000,1.000000,1.000000,11.000000,85.000000,1.0
4,11.000000,2.000000,12.000000,1.000000,0.0,1.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,2.000000,11.000000,65.000000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64791,74.802885,1.399038,12.000000,1.000000,0.0,1.000000,1.000000,0.000000,1.000000,0.600962,...,0.000000,1.000000,0.399038,1.000000,1.000000,2.403847,3.600962,11.000000,148.413465,0.0
64792,61.000000,2.000000,96.000000,0.913505,0.0,0.086495,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,1.000000,0.086495,0.086495,1.259486,1.000000,96.000000,32.259486,0.0
64793,61.262918,2.000000,13.051673,1.000000,0.0,1.000000,0.000000,0.000000,1.000000,0.000000,...,0.262918,1.262918,1.000000,1.000000,1.000000,1.000000,2.000000,11.262918,80.211245,0.0
64794,14.052641,1.508774,16.000000,1.000000,0.0,1.000000,0.508774,0.508774,1.000000,0.000000,...,0.000000,1.508774,1.000000,1.000000,0.508774,1.982453,2.526321,12.000000,84.000000,0.0
64795,33.835003,2.000000,21.000000,1.000000,0.0,0.417501,0.000000,0.417501,0.417501,0.000000,...,0.000000,1.582499,1.000000,0.000000,1.000000,2.747496,1.835003,41.000000,171.649972,0.0

In [43]:
data.to_csv('./train.csv',index=False)

### Apply scaler and Feature Importance

In [82]:
data

,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,DC212,...,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a,DC201
0,11.000000,2.000000,16.000000,1.000000,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,2.000000,1.000000,12.000000,60.000000,1.0
1,11.000000,2.000000,31.000000,1.000000,0.0,1.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,2.000000,31.000000,70.000000,1.0
2,11.000000,2.000000,12.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,0.000000,...,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,4.000000,11.000000,75.000000,1.0
3,11.000000,2.000000,12.000000,1.000000,0.0,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,2.000000,1.000000,1.000000,0.000000,1.000000,1.000000,11.000000,85.000000,1.0
4,11.000000,2.000000,12.000000,1.000000,0.0,1.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,2.000000,11.000000,65.000000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64791,74.802885,1.399038,12.000000,1.000000,0.0,1.000000,1.000000,0.000000,1.000000,0.600962,...,0.000000,1.000000,0.399038,1.000000,1.000000,2.403847,3.600962,11.000000,148.413465,0.0
64792,61.000000,2.000000,96.000000,0.913505,0.0,0.086495,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,1.000000,0.086495,0.086495,1.259486,1.000000,96.000000,32.259486,0.0
64793,61.262918,2.000000,13.051673,1.000000,0.0,1.000000,0.000000,0.000000,1.000000,0.000000,...,0.262918,1.262918,1.000000,1.000000,1.000000,1.000000,2.000000,11.262918,80.211245,0.0
64794,14.052641,1.508774,16.000000,1.000000,0.0,1.000000,0.508774,0.508774,1.000000,0.000000,...,0.000000,1.508774,1.000000,1.000000,0.508774,1.982453,2.526321,12.000000,84.000000,0.0
64795,33.835003,2.000000,21.000000,1.000000,0.0,0.417501,0.000000,0.417501,0.417501,0.000000,...,0.000000,1.582499,1.000000,0.000000,1.000000,2.747496,1.835003,41.000000,171.649972,0.0

### Open the test data for scaling

In [83]:
test=pd.read_csv('../data/test.csv').astype(float)
test=test.drop('id',axis=1)
test

,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,DC212,...,DC237e,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a
0,35.0,2.0,17.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,1.0,1.0,1.0,1.0,1.0,3.0,21.0,52.0
1,35.0,1.0,12.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,2.0,11.0,18.0
2,74.0,2.0,12.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,4.0,5.0,11.0,78.0
3,72.0,1.0,12.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,11.0,20.0
4,76.0,2.0,12.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,1.0,1.0,1.0,1.0,3.0,11.0,125.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11985,65.0,2.0,12.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,4.0,11.0,70.0
11986,61.0,2.0,12.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,1.0,1.0,1.0,1.0,0.0,0.0,4.0,11.0,120.0
11987,74.0,1.0,12.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,2.0,11.0,72.0
11988,74.0,2.0,31.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,51.0,9.0
11989,81.0,1.0,12.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,2.0,11.0,96.0

In [22]:
from sklearn.preprocessing import StandardScaler

# Membuat instance scaler
scaler = StandardScaler()

# Melakukan scaling pada data train
X_train_scaled = scaler.fit_transform(data.drop('DC201',axis=1))
# Melakukan scaling pada data test menggunakan parameter yang sama dengan data train
X_test_scaled = scaler.transform(test)

In [84]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

# Fit and transform the data
X_train_scaled = scaler.fit_transform(data.drop('DC201',axis=1))
X_test_scaled = scaler.transform(test)

In [85]:
scaled_df = pd.DataFrame(X_train_scaled, columns=data.columns[:-1])
scaled_df['DC201']=data['DC201']
scaled_df

,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,DC212,...,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a,DC201
0,0.000000,1.000000,0.047619,1.000000,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.011765,0.060120,1.0
1,0.000000,1.000000,0.226190,1.000000,0.0,1.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,1.000000,0.250000,0.250000,0.235294,0.070140,1.0
2,0.000000,1.000000,0.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.750000,0.000000,0.075150,1.0
3,0.000000,1.000000,0.000000,1.000000,0.0,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.200000,1.000000,1.000000,0.000000,0.250000,0.000000,0.000000,0.085170,1.0
4,0.000000,1.000000,0.000000,1.000000,0.0,1.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.250000,0.000000,0.065130,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64791,0.768709,0.399038,0.000000,1.000000,0.0,1.000000,1.000000,0.000000,1.000000,0.600962,...,0.000000,0.000000,0.399038,1.000000,1.000000,0.600962,0.650240,0.000000,0.148711,0.0
64792,0.602410,1.000000,1.000000,0.913505,0.0,0.086495,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.086495,0.086495,0.314871,0.000000,1.000000,0.032324,0.0
64793,0.605577,1.000000,0.012520,1.000000,0.0,1.000000,0.000000,0.000000,1.000000,0.000000,...,0.032865,0.052584,1.000000,1.000000,1.000000,0.250000,0.250000,0.003093,0.080372,0.0
64794,0.036779,0.508774,0.047619,1.000000,0.0,1.000000,0.508774,0.508774,1.000000,0.000000,...,0.000000,0.101755,1.000000,1.000000,0.508774,0.495613,0.381580,0.011765,0.084168,0.0
64795,0.275121,1.000000,0.107143,1.000000,0.0,0.417501,0.000000,0.417501,0.417501,0.000000,...,0.000000,0.116500,1.000000,0.000000,1.000000,0.686874,0.208751,0.352941,0.171994,0.0

In [86]:
scaled_df.to_csv('train_scaled_null_balance_minmax.csv',index=False)

In [87]:
scaled_df_test= pd.DataFrame(X_test_scaled, columns=test.columns)
scaled_df_test

,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,DC212,...,DC237e,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a
0,0.289157,1.0,0.059524,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.000,0.0,1.0,1.0,1.0,0.25,0.50,0.117647,0.052104
1,0.289157,0.0,0.000000,1.0,1.0,1.0,1.0,0.0,1.0,0.0,...,0.0,0.000,0.0,1.0,0.0,0.0,0.25,0.25,0.000000,0.018036
2,0.759036,1.0,0.000000,1.0,0.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.000,0.0,0.0,0.0,1.0,1.00,1.00,0.000000,0.078156
3,0.734940,0.0,0.000000,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.000,0.0,0.0,1.0,0.0,0.00,0.00,0.000000,0.020040
4,0.783133,1.0,0.000000,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.000,0.0,1.0,1.0,1.0,0.25,0.50,0.000000,0.125251
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11985,0.650602,1.0,0.000000,1.0,0.0,1.0,0.0,0.0,1.0,1.0,...,0.0,0.000,0.0,0.0,0.0,0.0,0.00,0.75,0.000000,0.070140
11986,0.602410,1.0,0.000000,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,0.125,0.0,1.0,1.0,0.0,0.00,0.75,0.000000,0.120240
11987,0.759036,0.0,0.000000,1.0,1.0,1.0,1.0,0.0,1.0,0.0,...,0.0,0.000,0.0,1.0,0.0,0.0,0.25,0.25,0.000000,0.072144
11988,0.759036,1.0,0.226190,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.000,0.0,0.0,0.0,1.0,0.25,0.00,0.470588,0.009018
11989,0.843373,0.0,0.000000,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.000,0.0,1.0,0.0,0.0,0.25,0.25,0.000000,0.096192

In [88]:
scaled_df_test.to_csv('test_scaled_null_balance_minmax.csv',index=False)