## Import and read data

In [57]:
import pandas as pd

In [58]:
data=pd.read_csv('../data/train.csv')
data

,id,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,...,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a,DC201
0,1,11,2,16.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,2.0,1,12.0,60.0,Layak Minum
1,2,11,2,31.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,1.0,1.0,2,31.0,70.0,Layak Minum
2,3,11,2,12.0,1.0,0.0,1.0,1.0,1.0,1.0,...,0.0,1.0,0.0,1.0,1.0,0.0,4,11.0,75.0,Layak Minum
3,6,11,2,12.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,2.0,NaN,1.0,0.0,1.0,1,11.0,85.0,Layak Minum
4,7,11,2,12.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,2,11.0,65.0,Layak Minum
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35968,47958,94,1,17.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,NaN,0.0,0.0,0.0,1,21.0,9.0,Layak Minum
35969,47959,94,1,12.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2,11.0,12.0,Layak Minum
35970,47961,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1,11.0,48.0,Layak Minum
35971,47962,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2,11.0,39.0,Layak Minum
35972,47963,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,3,11.0,40.0,Layak Minum

In [59]:
data=data.dropna(subset=['DC201'])
data['DC201'].value_counts()

DC201
Layak Minum          32398
Tidak Layak Minum     3572
Name: count, dtype: int64

In [60]:
data

,id,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,...,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a,DC201
0,1,11,2,16.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,2.0,1,12.0,60.0,Layak Minum
1,2,11,2,31.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,1.0,1.0,2,31.0,70.0,Layak Minum
2,3,11,2,12.0,1.0,0.0,1.0,1.0,1.0,1.0,...,0.0,1.0,0.0,1.0,1.0,0.0,4,11.0,75.0,Layak Minum
3,6,11,2,12.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,2.0,NaN,1.0,0.0,1.0,1,11.0,85.0,Layak Minum
4,7,11,2,12.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,2,11.0,65.0,Layak Minum
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35968,47958,94,1,17.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,NaN,0.0,0.0,0.0,1,21.0,9.0,Layak Minum
35969,47959,94,1,12.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2,11.0,12.0,Layak Minum
35970,47961,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1,11.0,48.0,Layak Minum
35971,47962,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2,11.0,39.0,Layak Minum
35972,47963,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,3,11.0,40.0,Layak Minum

## Discover the null value

In [61]:
# Check Nan/Null Value and then store it in list of tuple
null=data.isnull().sum().to_dict()
null_column=[key for key,value in null.items() if value>0]

In [62]:
data[data['DC205'].isnull()]['DC201'].value_counts()

DC201
Layak Minum          9
Tidak Layak Minum    1
Name: count, dtype: int64

In [63]:
def checkNull(data:pd.DataFrame,column:str):
    data_value=data[data[column].isnull()]
    value=data_value['DC201'].value_counts().to_dict()
    modus_layak=data_value['DC201']
    return value,data

In [64]:
null_data=[]
for item in null_column:
    temp={'column':item}
    value,data=checkNull(data=data,column=item)
    temp['value']=value
    temp['data']=data
    null_data.append(temp)

### Mencari jumlah null di kedua target label agar mengetahui perbandingan null value

In [65]:
for item in null_data:
    print(f"Column {item['column']} with null value {data[item['column']].isnull().sum()} with",item['value'])

Column DC205 with null value 10 with {'Layak Minum': 9, 'Tidak Layak Minum': 1}
Column DC206 with null value 21 with {'Layak Minum': 16, 'Tidak Layak Minum': 5}
Column DC207 with null value 43 with {'Layak Minum': 37, 'Tidak Layak Minum': 6}
Column DC208 with null value 13 with {'Layak Minum': 12, 'Tidak Layak Minum': 1}
Column DC209 with null value 18 with {'Layak Minum': 17, 'Tidak Layak Minum': 1}
Column DC210 with null value 41 with {'Layak Minum': 39, 'Tidak Layak Minum': 2}
Column DC211 with null value 24 with {'Layak Minum': 20, 'Tidak Layak Minum': 4}
Column DC212 with null value 24 with {'Layak Minum': 23, 'Tidak Layak Minum': 1}
Column DC213 with null value 77 with {'Layak Minum': 69, 'Tidak Layak Minum': 8}
Column DC214 with null value 9 with {'Layak Minum': 8, 'Tidak Layak Minum': 1}
Column DC215 with null value 14 with {'Layak Minum': 14}
Column DC216 with null value 39 with {'Layak Minum': 39}
Column DC220 with null value 4 with {'Layak Minum': 4}
Column DC226 with null value 6 with {'Layak Minum': 5, 'Tidak Layak Minum': 1}
Column DC230a with null value 11 with {'Layak Minum': 10, 'Tidak Layak Minum': 1}
Column DC230b with null value 3009 with {'Layak Minum': 2403, 'Tidak Layak Minum': 606}
Column DC232 with null value 3024 with {'Layak Minum': 2416, 'Tidak Layak Minum': 608}
Column DC232b with null value 3024 with {'Layak Minum': 2416, 'Tidak Layak Minum': 608}
Column DC235 with null value 10444 with {'Layak Minum': 10439, 'Tidak Layak Minum': 5}
Column DC237 with null value 19 with {'Layak Minum': 17, 'Tidak Layak Minum': 2}
Column DC237a with null value 35 with {'Layak Minum': 32, 'Tidak Layak Minum': 3}
Column DC237b with null value 35 with {'Layak Minum': 32, 'Tidak Layak Minum': 3}
Column DC237c with null value 35 with {'Layak Minum': 32, 'Tidak Layak Minum': 3}
Column DC237d with null value 35 with {'Layak Minum': 32, 'Tidak Layak Minum': 3}
Column DC237e with null value 35 with {'Layak Minum': 32, 'Tidak Layak Minum': 3}
Column DC237f with null value 35 with {'Layak Minum': 32, 'Tidak Layak Minum': 3}
Column DC241 with null value 612 with {'Layak Minum': 598, 'Tidak Layak Minum': 14}
Column DC242 with null value 5374 with {'Layak Minum': 4534, 'Tidak Layak Minum': 840}
Column DC244 with null value 4 with {'Layak Minum': 4}
Column DC246 with null value 9 with {'Layak Minum': 8, 'Tidak Layak Minum': 1}
Column DC252 with null value 14 with {'Layak Minum': 11, 'Tidak Layak Minum': 3}
Column DC109 with null value 10 with {'Layak Minum': 9, 'Tidak Layak Minum': 1}
Column DC142a with null value 52 with {'Layak Minum': 48, 'Tidak Layak Minum': 4}

## Mencari modus di setiap kolom berdasarkan target label

In [66]:
data.loc[data['DC201'] == 'Layak Minum', 'DC230b'].mode().iloc[0]

1.0

In [67]:
def findMode(data:pd.DataFrame,column:str):
    mode_layak=data.loc[data['DC201'] == 'Layak Minum', column].mode().iloc[0]
    mode_tidak_layak=data.loc[data['DC201'] == 'Tidak Layak Minum', column].mode().iloc[0]
    mode={'column':column,'Layak Minum':mode_layak,'Tidak Layak Minum':mode_tidak_layak}
    print(mode)
    return mode

In [68]:
mode=[]
for item in null_column:
    mode.append(findMode(data,item))

{'column': 'DC205', 'Layak Minum': 12.0, 'Tidak Layak Minum': 12.0}
{'column': 'DC206', 'Layak Minum': 1.0, 'Tidak Layak Minum': 1.0}
{'column': 'DC207', 'Layak Minum': 0.0, 'Tidak Layak Minum': 0.0}
{'column': 'DC208', 'Layak Minum': 1.0, 'Tidak Layak Minum': 1.0}
{'column': 'DC209', 'Layak Minum': 1.0, 'Tidak Layak Minum': 0.0}
{'column': 'DC210', 'Layak Minum': 0.0, 'Tidak Layak Minum': 0.0}
{'column': 'DC211', 'Layak Minum': 1.0, 'Tidak Layak Minum': 1.0}
{'column': 'DC212', 'Layak Minum': 0.0, 'Tidak Layak Minum': 0.0}
{'column': 'DC213', 'Layak Minum': 33.0, 'Tidak Layak Minum': 35.0}
{'column': 'DC214', 'Layak Minum': 35.0, 'Tidak Layak Minum': 36.0}
{'column': 'DC215', 'Layak Minum': 31.0, 'Tidak Layak Minum': 31.0}
{'column': 'DC216', 'Layak Minum': 2.0, 'Tidak Layak Minum': 2.0}
{'column': 'DC220', 'Layak Minum': 47.0, 'Tidak Layak Minum': 42.0}
{'column': 'DC226', 'Layak Minum': 2.0, 'Tidak Layak Minum': 8.0}
{'column': 'DC230a', 'Layak Minum': 1.0, 'Tidak Layak Minum': 1.0}
{'column': 'DC230b', 'Layak Minum': 1.0, 'Tidak Layak Minum': 1.0}
{'column': 'DC232', 'Layak Minum': 1.0, 'Tidak Layak Minum': 1.0}
{'column': 'DC232b', 'Layak Minum': 0.0, 'Tidak Layak Minum': 0.0}
{'column': 'DC235', 'Layak Minum': 1.0, 'Tidak Layak Minum': 3.0}
{'column': 'DC237', 'Layak Minum': 1.0, 'Tidak Layak Minum': 1.0}
{'column': 'DC237a', 'Layak Minum': 1.0, 'Tidak Layak Minum': 1.0}
{'column': 'DC237b', 'Layak Minum': 0.0, 'Tidak Layak Minum': 0.0}
{'column': 'DC237c', 'Layak Minum': 0.0, 'Tidak Layak Minum': 0.0}
{'column': 'DC237d', 'Layak Minum': 0.0, 'Tidak Layak Minum': 0.0}
{'column': 'DC237e', 'Layak Minum': 0.0, 'Tidak Layak Minum': 0.0}
{'column': 'DC237f', 'Layak Minum': 0.0, 'Tidak Layak Minum': 0.0}
{'column': 'DC241', 'Layak Minum': 1.0, 'Tidak Layak Minum': 1.0}
{'column': 'DC242', 'Layak Minum': 1.0, 'Tidak Layak Minum': 1.0}
{'column': 'DC244', 'Layak Minum': 0.0, 'Tidak Layak Minum': 1.0}
{'column': 'DC246', 'Layak Minum': 0.0, 'Tidak Layak Minum': 1.0}
{'column': 'DC252', 'Layak Minum': 1.0, 'Tidak Layak Minum': 1.0}
{'column': 'DC109', 'Layak Minum': 11.0, 'Tidak Layak Minum': 11.0}
{'column': 'DC142a', 'Layak Minum': 60.0, 'Tidak Layak Minum': 54.0}

## Mengisi setiap null value yang ada di setiap atribut berdasarkan modus di atribut tersebut dengan acuan target label

In [73]:
def fillNull(data:pd.DataFrame,column:str,mode:dict):
    print(mode)
    data.loc[(data['DC201'] == 'Layak Minum') & (data[column].isnull()), column] = mode['Layak Minum']
    data.loc[(data['DC201']=='Tidak Layak Minum') & (data[column].isnull()), column] = mode['Tidak Layak Minum']
    return data

In [74]:
for col in mode:
    data=fillNull(data=data,column=col['column'],mode=col)

{'column': 'DC205', 'Layak Minum': 12.0, 'Tidak Layak Minum': 12.0}
{'column': 'DC206', 'Layak Minum': 1.0, 'Tidak Layak Minum': 1.0}
{'column': 'DC207', 'Layak Minum': 0.0, 'Tidak Layak Minum': 0.0}
{'column': 'DC208', 'Layak Minum': 1.0, 'Tidak Layak Minum': 1.0}
{'column': 'DC209', 'Layak Minum': 1.0, 'Tidak Layak Minum': 0.0}
{'column': 'DC210', 'Layak Minum': 0.0, 'Tidak Layak Minum': 0.0}
{'column': 'DC211', 'Layak Minum': 1.0, 'Tidak Layak Minum': 1.0}
{'column': 'DC212', 'Layak Minum': 0.0, 'Tidak Layak Minum': 0.0}
{'column': 'DC213', 'Layak Minum': 33.0, 'Tidak Layak Minum': 35.0}
{'column': 'DC214', 'Layak Minum': 35.0, 'Tidak Layak Minum': 36.0}
{'column': 'DC215', 'Layak Minum': 31.0, 'Tidak Layak Minum': 31.0}
{'column': 'DC216', 'Layak Minum': 2.0, 'Tidak Layak Minum': 2.0}
{'column': 'DC220', 'Layak Minum': 47.0, 'Tidak Layak Minum': 42.0}
{'column': 'DC226', 'Layak Minum': 2.0, 'Tidak Layak Minum': 8.0}
{'column': 'DC230a', 'Layak Minum': 1.0, 'Tidak Layak Minum': 1.0}
{'column': 'DC230b', 'Layak Minum': 1.0, 'Tidak Layak Minum': 1.0}
{'column': 'DC232', 'Layak Minum': 1.0, 'Tidak Layak Minum': 1.0}
{'column': 'DC232b', 'Layak Minum': 0.0, 'Tidak Layak Minum': 0.0}
{'column': 'DC235', 'Layak Minum': 1.0, 'Tidak Layak Minum': 3.0}
{'column': 'DC237', 'Layak Minum': 1.0, 'Tidak Layak Minum': 1.0}
{'column': 'DC237a', 'Layak Minum': 1.0, 'Tidak Layak Minum': 1.0}
{'column': 'DC237b', 'Layak Minum': 0.0, 'Tidak Layak Minum': 0.0}
{'column': 'DC237c', 'Layak Minum': 0.0, 'Tidak Layak Minum': 0.0}
{'column': 'DC237d', 'Layak Minum': 0.0, 'Tidak Layak Minum': 0.0}
{'column': 'DC237e', 'Layak Minum': 0.0, 'Tidak Layak Minum': 0.0}
{'column': 'DC237f', 'Layak Minum': 0.0, 'Tidak Layak Minum': 0.0}
{'column': 'DC241', 'Layak Minum': 1.0, 'Tidak Layak Minum': 1.0}
{'column': 'DC242', 'Layak Minum': 1.0, 'Tidak Layak Minum': 1.0}
{'column': 'DC244', 'Layak Minum': 0.0, 'Tidak Layak Minum': 1.0}
{'column': 'DC246', 'Layak Minum': 0.0, 'Tidak Layak Minum': 1.0}
{'column': 'DC252', 'Layak Minum': 1.0, 'Tidak Layak Minum': 1.0}
{'column': 'DC109', 'Layak Minum': 11.0, 'Tidak Layak Minum': 11.0}
{'column': 'DC142a', 'Layak Minum': 60.0, 'Tidak Layak Minum': 54.0}

In [75]:
data.isnull().sum()

id        0
DC024     0
DC025     0
DC205     0
DC206     0
DC207     0
DC208     0
DC209     0
DC210     0
DC211     0
DC212     0
DC213     0
DC214     0
DC215     0
DC216     0
DC217     0
DC219     0
DC220     0
DC226     0
DC230a    0
DC230b    0
DC232     0
DC232b    0
DC235     0
DC237     0
DC237a    0
DC237b    0
DC237c    0
DC237d    0
DC237e    0
DC237f    0
DC241     0
DC242     0
DC244     0
DC246     0
DC252     0
DC270a    0
DC109     0
DC142a    0
DC201     0
dtype: int64

### convert label jadi categorical numeris

In [76]:
data['DC201']=data['DC201'].apply(lambda x: 1 if x=='Layak Minum' else 0)
data

C:\Users\ASUS\AppData\Local\Temp\ipykernel_31072\2932265223.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['DC201']=data['DC201'].apply(lambda x: 1 if x=='Layak Minum' else 0)

,id,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,...,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a,DC201
0,1,11,2,16.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,2.0,1,12.0,60.0,1
1,2,11,2,31.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,1.0,1.0,2,31.0,70.0,1
2,3,11,2,12.0,1.0,0.0,1.0,1.0,1.0,1.0,...,0.0,1.0,0.0,1.0,1.0,0.0,4,11.0,75.0,1
3,6,11,2,12.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,2.0,1.0,1.0,0.0,1.0,1,11.0,85.0,1
4,7,11,2,12.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,2,11.0,65.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35968,47958,94,1,17.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,1.0,0.0,0.0,0.0,1,21.0,9.0,1
35969,47959,94,1,12.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2,11.0,12.0,1
35970,47961,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1,11.0,48.0,1
35971,47962,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2,11.0,39.0,1
35972,47963,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,3,11.0,40.0,1

In [77]:
data['DC201'].value_counts()

DC201
1    32398
0     3572
Name: count, dtype: int64

In [78]:
data.to_csv('data_null.csv',index=False)